body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 100;
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: 30px;
	text-align: center;
}

li {
	list-style: none;
}

.cityHead {
	font-size: 1.4em;
}

.price {
	color: blue;
}

input {
	border: 2px solid black;
	font-size: 1.5em;

	height: 50px;
	text-align: center;
}

.explore {
	background-color: red;
	display: inline-block;
	padding: 10px;
}

.themes {
  display: none;
}

#regions {
	 z-index: -1;
	 top:100%;
	 position: absolute;
	 padding: 5px;
	 opacity:0;
     transition:opacity linear 0.15s;
}

.theme-individual {
  width: 100%;
  display: block;
  position: relative;
}

.themes img {
  width: 80%;
  height: 20%;
  position: relative;
  z-index: 5;
  opacity: .8;
}

.themes h4 {
	position: absolute;
	z-index: 5;
	top: 40%;
	right: 45%;
	font-size: 2em;
	background: black;
	color: white;
	padding: 5px;
}

.theme-individual img:hover {
  border: solid 3px black;
}

.topDest li:hover {
  border: solid 1px black;
}

.topDest {
  display: none;
  width: 100%;
  display: block;
  position: relative;
}

.topDest img {
  width: 80%;
  height: 20%;
  position: relative;
  z-index: 5;
  opacity: .8;
}

.topDest h4 {
	position: relative;
	z-index: 5;
	top: 40%;
	font-size: 1em;
	color: black;
	padding: 5px;
}

.topDest li {
	display: inline-block;
}

.receipt {
	display: none;
}

